<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      STREBLA INNOVATIONS
    </ion-title>

    <ion-buttons slot="end">
      <ion-button routerLink="/terminal">Terminal</ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button routerLink="/projects">Projects</ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button routerLink="/blog">Blog</ion-button>
    </ion-buttons>   

    <ion-buttons slot="end">
      <ion-button routerLink="/photography-blog">Photography Blog</ion-button>
    </ion-buttons>   

    <ion-buttons slot="end">
      <ion-button routerLink="/contact-us">Contact Us</ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button routerLink="/about">About</ion-button>
    </ion-buttons>   

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>


  <ion-card color="primary">
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content> Card Content </ion-card-content>
  </ion-card>
  
  <ion-card color="secondary">
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content> Card Content </ion-card-content>
  </ion-card>
  
  <ion-card color="tertiary">
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content> Card Content </ion-card-content>
  </ion-card>
  
  <ion-card color="success">
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content> Card Content </ion-card-content>
  </ion-card>
  
  <ion-card color="warning">
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content> Card Content </ion-card-content>
  </ion-card>
  
  <ion-card color="danger">
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content> Card Content </ion-card-content>
  </ion-card>
  
  <ion-card color="light">
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content> Card Content </ion-card-content>
  </ion-card>
  
  <ion-card color="medium">
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content> Card Content </ion-card-content>
  </ion-card>
  
  <ion-card color="dark">
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content> Card Content </ion-card-content>
  </ion-card>

</ion-content>
